images/
legacy_code/
outputs/
myEnv/
model_checkpoints/
wandb/
plots/

# System files
.DS_Store

# Python files
__pycache__/
*.py[cod]
*$py.class
*-311.pyc

### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode

# New file types to ignore
#*.xlsx
*.pyc
*ubyte
*meta
data_batch*
test_batch*
*.html
*-311.pyc

*.json
*.log 
*.wandb


*cifar10.yaml